@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #0FC2C0, #008F8C, #015958);
}
main {
 background-image: white;
 border-radius: 20px;
 width: 1000px;
 margin: auto;
 padding: 10px;
 box-shadow:  5px 5px 15px;
 background-color: white;
}