@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #0FC2C0, #008F8C, #015958 );
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #011f1f;
    width: 600px;
    padding: 10px;
    margin: auto;
} 

h1{
    text-align: center;
  color: #034646;
  text-shadow: 1px 1px 1px black;
}

h2{
  color: #0CABA8;
}

p {
    text-align: justify;
}

